<body>
  <h1>Profile</h1>
  <h4>Full Stack Developer</h4>
  <div class="body-container">
    <img src="assets/images/foto-perfil.JPG" alt="" />
    <p>
      Full stack developer, graduated in Industrial Engineering with experience
      inthe cost field where I was able to develop data analysis skills and
      Excel management. I lived in the United States for 3 years with the goal of
      learning and improving my English. It was there that I started learning
      coding on my own, as optimization of processes is crucial both in my career
      and in web development.This sparked my passion for furthering my knowledge
      in the technology field, I developed skills in HTML, JavaScript, CSS,
      Java, Angular, Postgres, MongoDb, GitHub.
    </p>
  </div>
</body>
